<launch>
  <arg name="strategy" default="some_strategy"/>

  <group ns="blue_team">
    <rosparam command="load" file="$(find sumo_controller)/config/line_sensor_param.yaml"/>
    <param name="strategy" type="str" value="$(arg strategy)"/>

    <node pkg="sumo_controller" type="sumo_controller_node.py" name="sumo_controller_node" output="screen">
    </node>
  </group>

  <group ns="red_team">
    <node pkg="sumo_controller" type="example_node.py" name="example_node" output="screen"/>
  </group>
</launch>
